{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Remove Supplier{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="centered-content">
    <p style="padding: 0 0.5rem; color:white">Are you sure you want to remove <span style="color: #6b71ff; font-weight: bold">{{ supplier.name }}</span>? This action is not recoverable!</p>
    <form method="post" class="button-form" style="flex-direction: inherit;">
      <input type="submit" name="confirm" value="I am sure, Remove" class="delete-button">
      <input type="submit" name="cancel" value="I changed my mind" class="action-button">
    </form>
  </div>
{% endblock %}
